<div class="text-center" style="margin-top:100px">
    <h1 class="display-4">Welcome to Admin Dashboard</h1>
    <p>Experience Excellence in Every Click!</p>
    <a asp-controller="Admin" asp-action="Index" class="btn btn-primary">Get Started</a>
</div>